<h1>
    Welcome to AniTrackMe!
</h1>
<div id="buttons">
    <button><a href="/plantowatch">Plan to Watchlist</a></button>
</div>
<%- include ('../partials/searchPartial.ejs') %> 
    <div>
<%for (i = 0; i < anime.data.length; i ++) { %>
   <h3><%if (anime.data[i].title_english) { %>
        <%=(anime.data[i].title_english)%>
    <%}%>
    <%if (anime.data[i].title_english === null) { %>
        <%=(anime.data[i].title)%>
   <% } %></h3>
    <a href="/anime/<%=anime.data[i].mal_id%>"><img src="<%=anime.data[i].images.jpg.large_image_url%>" alt=""></a></br>
    <% } %>
    </div>