<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title> AniTrackMe | <%= anime.data.title %></title>
  </head>
  <body>
    <h1><%= anime.data.title %></h1> 
    <h2>Score: <%= anime.data.score %>/10</h2>
    <img src="<%=anime.data.images.jpg.large_image_url%>" alt="">
    <p>Genres: <%= genres %> </p>
    <p>Synopsis: <%=anime.data.synopsis%></p>
  </body>
  <form action="/plantowatch" method="POST">
    <input type="hidden" name="title" value="<%= anime.data.title %>"/>
    <input type="hidden" name="image" value="<%=anime.data.images.jpg.large_image_url%>">
    <input type="hidden" name="synopsis" value="<%=anime.data.synopsis%>">
    <input type="hidden" name="audienceScore" value="<%= anime.data.score %>">
    <input type="hidden" name="mal_id" value="<%= anime.data.mal_id %>">
    <input type="submit" value="Add to Plan to Watch" />
</form>
  <button><a href="/anime">Back to Anime</a></button>
  <button><a href="/plantowatch">Back to Watchlist</a></button>
</html>