<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title> AniTrackMe | <%= anime.data.title %></title>
  </head>
  <body>
    <h1><%= anime.data.title %></h1> 
    <h2>Score: <%= anime.data.score %>/10</h2>
    <img src="<%=anime.data.images.jpg.large_image_url%>" alt="">
    <p>Genres: <%= genres %> </p>
    <p>Synopsis: <%=anime.data.synopsis%></p>
  </body>
  <button><a href="/plantowatch/new/<%=anime.data.mal_id%>">Add to List</a></button>
  <button><a href="/anime">Back to Anime</a></button>
</html>

<!-- want to create a search bar that utilizes the ?q=whatever-anime-title param to change what data is fetched and rendered to index -->