<h1>
    Your Watchlist
</h1>
<button><a href="/anime">Anime List</a></button>
<div>
   <% for(i = 0; i < anime.length; i++) { %> 
    <h3><%= anime[i].title %></h3>
    <p>Audience score: <%= anime[i].audienceScore%>/10
    <% if(anime[i].haveWatched) {%>
    User score: <%=anime[i].userScore%>/10
    Completed
    <%}%></p>
    <a href="/anime/<%=anime[i].mal_id%>"><img src="<%= anime[i].image %> " alt=""></a>
    <form action="/plantowatch/<%= anime[i]._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete" />
    </form>
    <button><a href="/plantowatch/<%= anime[i]._id %>/edit">Edit</a></button></br>
    <% } %> 
</div>